<!doctype html>
<html ng-app="mediavizApp">
  <head>
    <meta charset="utf-8">
  
    <!-- Set the location base - needed for the HTML5mode -->
    <!-- <base href="/"> -->
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <title ng-bind="pageTitle"></title>
    
    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>
  </head>
  
  <body layout="row" ng-controller="RootCtrl">
    
    <%= partial 'partials/sidenav' %>
    <%# partial 'partials/header' %>
    <div layout="column" role="main" flex>
      <%= partial 'partials/main_toolbar' %>
      <md-content layout-padding>
        <div ng-view></div>
      </md-content>
    </div>
    <%= partial 'partials/analytics' %>
  </body>
</html>