<!doctype html>
<html ng-app="mediavizApp">
  <head>
    <meta charset="utf-8">
  
    <!-- Set the location base - needed for the HTML5mode -->
    <!-- <base href="/"> -->
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title ng-bind="pageTitle"></title>
    <%= stylesheet_link_tag "all" %>
    <%= stylesheet_link_tag "c3.css" %>
    <%= javascript_include_tag  "all" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/ifwe/infinite-scroll/master/taggedInfiniteScroll.min.js" %>
  </head>
  
  <body ng-cloak ng-controller="RootCtrl">
    
    <%= partial 'partials/sidenav' %>
    <div role="main">
      <%= partial 'partials/main_toolbar' %>
      <md-content ng-view layout-padding style="background-color: #EDECEC;"></md-content>
    </div>
    <%= partial 'partials/analytics' %>
  </body>
</html>